.bio_header {
    display: flex;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 45%;

}

.bio {
    display: flex;
}

.bio_body {
    color: white;
}

.antsy_bird {
    width: 60%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%
}

.bio_container {
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
}

.antsy_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 20px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 7px;
}

.bio_link {
    padding: 7%;
    margin: 3%;
    color: white;
    text-decoration: none;
    border: 1px solid;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    position: relative; 
}

.bio_link:hover {
    transform: scale(1.03);
    box-shadow: 0 3px 10px rgba(67, 16, 16, 0.457);
}

.youtube_link {
    padding-top: 3%;
    padding-left: 10%;
    width: 80%;
    
}