.woodflock_banner {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 27%;
}

.woodflock_text {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}