.link_container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 1px ; color: rgb(0, 0, 0);
}

.link_block {
    padding: 5%;
    border: 1px solid; color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 6%;
    padding-left: 7%;
}

.follow_block {
    padding: 5%;
    border: 1px solid; color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 6%;
    padding-left: 7%;
}

.track_link {
    text-decoration: none;
    color: black;
}

.social_logo {
   height: auto;
   width: 20%;
   padding-top: 5%;
   padding-right: 9%;
   transition: box-shadow 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   position: relative; 
}

.social_logo:hover {
   transform: scale(1.3);
}
