

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding-bottom: 1%;
    border-bottom: 1px solid; color: rgb(255, 255, 255);
    border-radius: px;
    margin-left: 3%;
    margin-right: 5%;
    padding-top: 1%;
    margin: 0;
    background-color:rgb(87, 12, 12)
}

.navbar_link {
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    position: relative; 
    margin: 0;
}

.navbar_link:hover {
    transform: scale(1.3);
}

.link_text {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home_logo {
    height: auto;
    width: 50%;
    padding: 0;
    margin: 0;
}

.home_navbar_link {
    width: 25%;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    position: relative; 
    margin: 0;
}

.home_navbar_link:hover {
    transform: scale(1.3);
}

