.field_trip_body {
    display: grid;

}

.field_trip_header {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 27%;
}

.field_trip_img {
    width: 80%;
    padding: 8%;
}